
@import '../../../styles/base';

.prewrap {
  white-space: pre-wrap;
  max-width: 100%;
}

.carousel-container {
  padding: 0rem 0 .0 0rem;
  background: #fafafa;
  border-bottom: 1px solid #ccc;
}

.carousel {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.carousel-label {
  width: 6rem;
  color: #555;
  font-size: .875rem;
  text-align: left;
}

.carousel-thumb {
  position: relative;
  flex: none;
  font-size: .875rem;
  padding-bottom: calc(.75rem - 5px);
  margin-bottom: -1px;
  border-bottom: 4px solid transparent;
  @extend .prewrap;
}

.carousel-thumb__button {
  padding-top: 1em;
  padding-bottom: .5em;
  @extend .prewrap;
}

.carousel-thumb--directive .carousel-thumb__button {
  // height: 6em;
  font-size: .875em;
}

.carousel-thumb__icon {
  position: absolute;
  font-size: .875em;
  top: .5em;
  left: 1em;
  margin-bottom: 0;
}

.carousel-thumb:hover {
  opacity: .8;
}

.carousel-thumb__text {
  line-height: 1.3;
  color: #5f5f5f;
  font-weight: 600;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0;
}

.carousel-thumb--directive {
  width: 12rem;
}

.carousel-thumb.is-active {
  cursor: default;
  border-bottom: 4px solid $app-blue-dark;
}

.carousel-thumb.is-active:hover {
  opacity: 1;
}

.carousel-thumb.is-active .carousel-thumb__text {
  color: $app-blue-dark;
}

// ===== old
//
// .carousel-thumb:hover {
//   background: #fff;
// }
//


// ===========
.directive-carousel {
  border-top: 1px solid #ccc;
}
