@import '../../../styles/base';

.questions-list {
  margin-left: 0;
}

.questions-list__item {
  list-style: none;
  margin-bottom: 1.5rem;
}

.scrollView {
    flex: 1;
}

.infiniteTimeline {
    width: 2.5;
    background-color: #f0f0f0;
    position: absolute;
    top: 32;
    left: 30;
}

.questionHistoryContainer {
    position: relative;
}

.isInProgressSubmitChoice {
  margin-top: 90;
}

#main-content:focus {
  outline: none;
}

.MathJax:focus,
.MathJax_ContextMenu:focus,
.MathJax_Menu:focus,
.MathJax_MenuItem:focus {
  outline-style: dashed;
  outline-width: 3px;
  outline-color: $app-red-dark;
}

.MathJax:focus {
  outline-offset: 0.25rem;
}

#skip-link-to-directive-carousel,
#skip-link-to-target-carousel {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 1050;
}

#skip-link-to-directive-carousel a,
#skip-link-to-target-carousel a,
#skip-link-to-directive-carousel a:link,
#skip-link-to-target-carousel a:link {
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

#skip-link-to-directive-carousel .element-focusable:active,
#skip-link-to-target-carousel .element-focusable:active,
#skip-link-to-directive-carousel .element-focusable:focus,
#skip-link-to-target-carousel .element-focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  width: 100%;
  padding: 1em;
  margin-top: -1.25rem;
}
