@import '../../../styles/base';


.login {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  color: #fff;
  padding-top: 5%;
}

.app-name {
  margin-bottom: 4.5rem;
}

.app-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.login {
  background: rgba(127,198,189,1);
  background: -moz-linear-gradient(top, rgba(127,198,189,1) 0%, rgba(75,181,193,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(127,198,189,1)), color-stop(100%, rgba(75,181,193,1)));
  background: -webkit-linear-gradient(top, rgba(127,198,189,1) 0%, rgba(75,181,193,1) 100%);
  background: -o-linear-gradient(top, rgba(127,198,189,1) 0%, rgba(75,181,193,1) 100%);
  background: -ms-linear-gradient(top, rgba(127,198,189,1) 0%, rgba(75,181,193,1) 100%);
  background: linear-gradient(to bottom, rgba(127,198,189,1) 0%, rgba(75,181,193,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fc6bd', endColorstr='#4bb5c1', GradientType=0 );
}

.login-button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1em;
  margin-bottom: 3rem;
  // width: 300px;
  width: 100%;
  text-align: center;
  background: #3D5EB7;
  font-weight: 500;
}

.login-button--d2l {
  background: #705FCE;
}

.login-button:hover {
  opacity: .8;
}

.login-button__image {
    height: 1.1rem;
    position: absolute;
    left: 1em;
}

.login__guest-prompt {
  font-style: italic;
  margin-top: 3rem;
  color: #eee;
}

.login-button--guest {
  background: transparent;
  color: #3D5EB7;
  font-weight: 600;
  flex: 1;
}

.login__guest-input {
  padding: 1em 0 1em 0;
  margin-bottom: 3rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid rgba(#fff, .3);
  background: transparent;
  flex: 3;
  transition: 300ms ease border-color;
}

.login__guest-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 300;
  color: #eee;
}
.login__guest-input::-moz-placeholder { /* Firefox 19+ */
  font-weight: 300;
  color: #eee;
}
.login__guest-input:-ms-input-placeholder { /* IE 10+ */
  font-weight: 300;
  color: #eee;
}
.login__guest-input:-moz-placeholder { /* Firefox 18- */
  font-weight: 300;
  color: #eee;
}

.login__guest-input:focus {
  outline: none;
  border-bottom-color: #3D5EB7;
}

.divider {
  margin-top: 3rem;
  border-color: rgba(127,198,189,1) transparent rgba(147,228,209,1) transparent;
  border-size: 1px;
  border-style: solid;
  height: 0;
}

.contact {
  color: #404040;
  font-size: .8rem;
}

.contact a {
  color: #eee;
}

.contact a:hover {
  color: #fff;
}
