@import '../../../styles/base';

.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}


.nav-target-carousel {
  margin-bottom: 3rem;
}

.current-status {
  margin-bottom: 1rem;
}

.close-modal-button {
  border: 1px solid $app-blue-dark;
  border-radius: 5px;
}

.close-modal-button:hover {
  background: $app-blue-dark;
  color: white;
}

.close-modal-button:focus {
  outline-style: dashed;
  outline-width: 3px;
  outline-offset: 0.5rem;
  outline-color: $app-red-dark;
}

.current-status-heading {
  font-size: 1rem;
  margin-right: 1rem;
  min-width: 200px;
  flex: 1;
}

.status-wrapper {
  display: flex;
}

.progress-bar-wrapper {
  flex: 100%;
}
